<h1> Bird List </h1>
<div class="container">
  <div class="row">
    <div class="card col-md-4 col-12" *ngFor="let bird of birds"  style="width: 18rem;"  >
      <img class="card-img-top" src="{{bird.image}} " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{bird.name}}</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <audio controls class="audio-player"><source src={{bird.song1}} type="audio/mpeg" /> </audio>

      </div>
    </div>
  </div>
</div>
