<div class="container">
  <div class="panel panel-primary">
      <div class="panel-body">
        <h2>Bird Songs</h2>
    </div>

    <!-- <table border="1">
  <thead></thead>
 <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Song</th>
    </tr>

<tbody>
      <tr *ngFor="let bird of birds">
          <!-- <td>{{bird.name}}</td>
          <td>{{bird.image}}</td>
          <td>{{bird.song1}}</td>
           </tr>
  </tbody>
    </table>-->

    <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-example">
      <div *cdkVirtualFor="let bird of birds" class="item">{{bird.name}}</div>
    </cdk-virtual-scroll-viewport>

