<table border="1">
  <thead></thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Song</th>
    </tr>

  <tbody>
      <tr *ngFor="let bird of birds">
          <td>{{bird.name}}</td>
          <td>{{bird.image}}</td>
          <td>{{bird.song1}}</td>
          <td><button class="btn btn-danger" (click)="deleteBird(bird)"> Delete Bird</button></td>
          </tr>
  </tbody>
    </table>


<!--
  <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Song</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bird of birds">
          <td>{{ bird.id }}</td>
          <td>{{ bird.name }}</td>
          <td>{{ bird.image }}</td>
          <td>{{ bird.song1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
