<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
          Drag and drop:
      </div>

<cdk-virtual-scroll-viewport itemSize="10">
  <div *cdkVirtualFor="let item of Items">{{item}}</div>
</cdk-virtual-scroll-viewport>

<!-- <div class="drag-container">
  <h3>Bird Names</h3>
  <div>

  </div>

</div>

<div class="drag-container">
    <h3>Bird Images</h3>
    <div>

    </div>

  </div>

  <div class="drag-container">
      <h3>Answers</h3>
      <div>

      </div>

    </div> -->
