<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
          <h2>Bird Songs</h2>
      </div>


<cdk-virtual-scroll-viewport itemSize="10" class="scrolling-example">
  <div *cdkVirtualFor="let item of Items" class="item">{{item}}</div>
</cdk-virtual-scroll-viewport>


<hr>
<h5>Drag and Drop</h5>

<div class="box" cdkDrag>
Cardinal
</div>

<div cdkDropList></div>

<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="box" *ngFor="let item of DropList" cdkDrag>{{item}}</div>
</div>
