<!-- <div><h3>Identify these bird songs: </h3></div>

  <audio controls>
    <source src="https://www.allaboutbirds.org/guide/assets/sound/523097.mp3" type="audio/mpeg" />
      update your browser if you can see this and want to hear birdsongs
  </audio> -->

    <!-- <div class='table-responsive'>
      <table class='table'
      *ngIf='quiz && quiz.length'></table>
        <thead>
          <tr>
            <th> -->
              <!-- <button class='btn btn-primary'
                      (click)='toggleImage()'>
                {{image? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Name</th>
            <th>Song</th>
          </tr>

        <tbody>
        </tbody>
      </table>
    </div>
  </div> -->

